#navbarNav ul a{
color:rgb(241, 230, 230);
padding-right: 50px;
margin-top: 20px;
font-size: 12px;

}
#OLA{
    background-image: url(../img/v36-intro.jpg);
    padding-top: 100px;
    padding-bottom: 150px;
    background-color:black;
    margin-bottom: 100px;
    text-align: center;
    background-repeat: no-repeat;
}  
.navbar-brand img{
    padding-left: 40px;
    color: white;
}
navbar-nav li a{
    color: white;
    font-size: 15px;
    line-height: normal;
    margin-top: 50px;
    margin-right: 30px;
    
}
.navbar-toggler  {
    background-color: white;
}
.container h1{
    font:"poppins" 'open-sans',"ariel",sans-serif;
    font-size: 60px;
    letter-spacing: 1px;
    line-height: 70px;
    font-weight: 50px;
    margin: 0px;
    color: white;
}
.container p{
    color: white;
    margin-top: 10px;
}
.container .my-button {
    background-color: rgb(81, 48, 213);
    border-radius: 20px;
    width: 200px;
    height: 40px;
    color: white;
}
 .container h2{
    text-align: center;
}
.container p1{
    text-align: center;
    margin-bottom: 50px;
}
#ayo{
    text-align: center;
}
#tom{
    text-align: center;
}
#olu{
    text-align: center;}
#what {
    margin-bottom: 80px;
}

    /* new product section */
#product{
    color: white;
    padding-top: 100px;
    padding-left: 40px;
    background-color: black;
}
.container-fluid .my-button-2   {
    background-color: rgb(42, 42, 103);
    border-radius: 20px;
    width: 200px;
    height: 50px;
    color: white;
}
#top{
    color: white;
    margin-top: 60px;
}
/* white backgroung section */

#white{
padding-top: 30px;  
}
#ear{
    padding-top:50px;
    padding-left: 30px;

}
/*-------- card section---------------- */
#head{
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
}
#firstcard {
padding-top:30px;
padding-left: 30px;
}
#secondcard{
    padding-top:30px;
    padding-left: 30px;  
}
#thirdcard{
    padding-top:30px;
padding-left: 30px;
}
#fourthcard{
  padding-top:30px;
    padding-left: 30px;
    padding-bottom: 30px;  
}
#fifthcard{
    padding-top:30px;
      padding-left: 30px;
      padding-bottom: 30px;  
  }  
  #sixthcard{
    padding-top:30px;
      padding-left: 30px;
      padding-bottom: 30px;  
  } 
  /* black icon div  */
  #icon{
    height:150px;
    background-color: black;
    padding-top: 50px;
    padding-left: 130px;
  }

  /* blog card section */
  #blog{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 40px;
  }
  #word{text-align: center;
padding-left: 20px;
}

  #labour{text-align: center;
    padding-left: 20px;}

  #master{text-align: center;
    padding-left: 20px;}
    #butt {text-align: center; border-width: 20px;padding-bottom: 30px;
    }
    #sub{
        text-align: center;
        background-color: rgba(225, 235, 231, 0.744);
        padding-top: 100px;
        padding-bottom: 100px;
        margin-bottom: 50px;
    }
    .email-field {
        height: 50px;
        /* width: 500px */
        border-radius: 30px;
        padding-left: 20px;
        margin-right: 20px;
    }
    #foot{
        padding-left: 30px;
        margin-bottom: 50px;
    }
    #copy{
        text-align: center;
        margin-bottom: 50px;
        border-color: rgb(199, 222, 222);
        border-top: thick 20px;
    }


    @media screen and (min-width: 1px) and (max-width: 420px) {
        #firstcard {
            padding-left: 5px;
            }
            #secondcard{
                padding-left: 5px; 
            }
            #thirdcard{
                padding-left: 5px;
            }
            #fourthcard{
                padding-left: 5px;
            }
            #fifthcard{
                padding-left: 5px;  
              }  
              #sixthcard{
                padding-left: 5px; 
              } 

              .card-spacing {
                padding-top:30px;
                padding-left: 30px;
                padding-bottom: 30px;  

              }
              .email-field {
                margin-bottom: 12px;
            }
        .container .size{
            font-size:40px ;
        }
        #blog{
            margin-bottom: 60px;
        }
        #word{
            margin-bottom: 60px; 
        }
        #labor{
            margin-bottom: 60px;
        }
        #master{
            margin-bottom: 60px;
        }
        #ayo{
            margin-bottom: 50px;
        }
        #olu{
            margin-bottom: 50px;
        }
        #tom{
            margin-bottom: 50px;
        }
            }
        
            
        
    
